// ==========================================================================
// LAYOUT CONTAINER
// ==========================================================================

.main-shell {
  flex: 1;
  max-width: $max-content-width;
  width: 100%;
  margin: 0 auto;
  padding: 28px 20px;
}
